<div class="bs-docs-container">
  <div class="bs-docs-section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h2>登陆</h2>
          <%= form_for :session, url: sessions_path do |f| %>
          <p>
            <%= f.label :phone_number %><br>
            <%= f.text_field :phone_number %>
          </p>
          <p>
            <%= f.label :password %><br>
            <%= f.password_field :password %>
          </p>
          <p>
            <%= f.submit '登录' %>
          </p>
          <% end %>

          <p>还未注册？<%= link_to "立即注册!", new_user_path %></p>

        </div>
      </div>
    </div>
  </div>
</div>
