<div class="bs-docs-container">
  <div class="bs-docs-section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <%= form_for [:users, @photo] do |f| %>

          <%= f.fields_for :image do |ff| %>
          <p>
            <div class="image_hidden"></div>
            <div class="image_preview"></div>
            <div class="container", id="container">
              <%= ff.label :image %><br>
              <%= ff.file_field :url %>
            </div>
          </p>
          <% end %>

          <p>
            <%= f.label :title %><br>
            <%= f.text_field :title %>
          </p>

          <p>
            <%= f.label :brief_intro %><br>
            <%= f.text_area :brief_intro %>
          </p>

          <p>
            <%= f.label :place %><br>
            <%= f.text_area :place %>
            <div id="myDiv">

            </div>
          </p>

          <p>
            <%= f.submit %>
          </p>

          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
var uploader = Qiniu.uploader({
  runtimes: 'html5,html4',          //上传模式,依次退化
  browse_button: 'photo_image_url',       //上传选择的点选按钮，**必需**
  uptoken : '<%= @uptoken %>',
  unique_names: true, // 默认 false，key为文件名。若开启该选项，SDK会为每个文件自动生成key（文件名）
  save_key: true, // 默认 false。若在服务端生成uptoken的上传策略中指定了 `sava_key`，则开启，SDK在前端将不对key进行任何处理
  domain: '<%= @domain %>', //bucket 域名，下载资源时用到，**必需**
  container: 'container',           //上传区域DOM ID，默认是browser_button的父元素，
  max_file_size: '5mb',           //最大文件体积限制
  max_retries: 3,                   //上传失败最大重试次数
  dragdrop: true,                   //开启可拖曳上传
  drop_element: 'container',        //拖曳上传区域元素的ID，拖曳文件或文件夹后可触发上传
  chunk_size: '1mb',                //分块上传时，每片的体积
  auto_start: true,                 //选择文件后自动上传，若关闭需要自己绑定事件触发上传
  init: {
    'FilesAdded': function(up, files) {
      plupload.each(files, function(file) {
        // 文件添加进队列后,处理相关的事情
        showPreview (file); // 预览
      });
    },
    'BeforeUpload': function(up, file) {
      // 每个文件上传前,处理相关的事情
    },
    'UploadProgress': function(up, file) {
      // 每个文件上传时,处理相关的事情
    },
    'FileUploaded': function(up, file, info) {

      // 每个文件上传成功后,处理相关的事情
      // 其中 info 是文件上传成功后，服务端返回的json，形式如
      // {
      //    "hash": "Fh8xVqod2MQ1mocfI4S4KpRL6D98",
      //    "key": "gogopher.jpg"
      //  }
      // 参考http://developer.qiniu.com/docs/v6/api/overview/up/response/simple-response.html
      var domain = up.getOption('domain');
      var res = $.parseJSON(info);
      var image_url = domain + '/' + res.key; //获取上传成功后的文件的Url
      console.log(info);
      console.log(image_url);
      $('.image_hidden').append('<input type="hidden" name="photo[images][url][]" class="photo_image" value="'+ image_url +'">');
    },
    'Error': function(up, err, errTip) {
      //上传出错时,处理相关的事情
    },
    'UploadComplete': function() {
      //队列文件处理完毕后,处理相关的事情
    },
    'Key': function(up, file) {
      // 若想在前端对每个文件的key进行个性化处理，可以配置该函数
      // 该配置必须要在 unique_names: false , save_key: false 时才生效
      var key = "";
      // do something with key here
      return key
    },
  }
});

//预览图片
function showPreview (file){
  var preloader = new mOxie.Image();
  preloader.onload = function() {
    preloader.downsize( 300, 300 );
    var src = preloader.getAsDataURL();
    var html = '<div><img src='+ src +' height="200" width="200"><span class="remove_btn">删除</span></div>'
    $('.image_preview').append(html);
  };
  preloader.load( file.getSource() );
}

//移除图片
$(document).on('click', '.remove_btn', function(){
  index = $('.remove_btn').index($(this))
  $(this).parent().remove();
  $($('.photo_image')[index]).remove();
})

$(document).on('click', '#photo_place', function(){
  var token = '<%= @uptoken %>'
  console.log("UpToken  <%= @uptoken %>");
  var pic = "/9j/4AAQSkZJRgABAQAASABIAAD/4QBARXhpZgAATU0AKgAAAAgAAYdpAAQAAAABAAAAGgAAAAAAAqACAAQAAAABAAAAbaADAAQAAAABAAAAbAAAAAD/7QA4UGhvdG9zaG9wIDMuMAA4QklNBAQAAAAAAAA4QklNBCUAAAAAABDUHYzZjwCyBOmACZjs+EJ+/+IM2ElDQ19QUk9GSUxFAAEBAAAMyGFwcGwCEAAAbW50clJHQiBYWVogB+EAAwAeABIAHwAAYWNzcEFQUEwAAAAAQVBQTAAAAAAAAAAAAAAAAAAAAAAAAPbWAAEAAAAA0y1hcHBsAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAARZGVzYwAAAVAAAABiZHNjbQAAAbQAAAGwY3BydAAAA2QAAAAjd3RwdAAAA4gAAAAUclhZWgAAA5wAAAAUZ1hZWgAAA7AAAAAUYlhZWgAAA8QAAAAUclRSQwAAA9gAAAgMYWFyZwAAC+QAAAAgdmNndAAADAQAAAAwbmRpbgAADDQAAAA+Y2hhZAAADHQAAAAsbW1vZAAADKAAAAAoYlRSQwAAA9gAAAgMZ1RSQwAAA9gAAAgMYWFiZwAAC+QAAAAgYWFnZwAAC+QAAAAgZGVzYwAAAAAAAAAIRGlzcGxheQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAG1sdWMAAAAAAAAAIgAAAAxockhSAAAACAAAAahrb0tSAAAACAAAAahuYk5PAAAACAAAAahpZAAAAAAACAAAAahodUhVAAAACAAAAahjc0NaAAAACAAAAahkYURLAAAACAAAAah1a1VBAAAACAAAAahhcgAAAAAACAAAAahpdElUAAAACAAAAahyb1JPAAAACAAAAahubE5MAAAACAAAAahoZUlMAAAACAAAAahlc0VTAAAACAAAAahmaUZJAAAACAAAAah6aFRXAAAACAAAAah2aVZOAAAACAAAAahza1NLAAAACAAAAah6aENOAAAACAAAAahydVJVAAAACAAAAahmckZSAAAACAAAAahtcwAAAAAACAAAAahjYUVTAAAACAAAAah0aFRIAAAACAAAAahlc1hMAAAACAAAAahkZURFAAAACAAAAahlblVTAAAACAAAAahwdEJSAAAACAAAAahwbFBMAAAACAAAAahlbEdSAAAACAAAAahzdlNFAAAACAAAAah0clRSAAAACAAAAahqYUpQAAAACAAAAahwdFBUAAAACAAAAagAMgAzADcAOXRleHQAAAAAQ29weXJpZ2h0IEFwcGxlIEluYy4sIDIwMTcAAFhZWiAAAAAAAADzFgABAAAAARbKWFlaIAAAAAAAAHhiAAA9awAAAkhYWVogAAAAAAAAWFgAAK8oAAAZWFhZWiAAAAAAAAAmGwAAE20AALeNY3VydgAAAAAAAAQAAAAABQAKAA8AFAAZAB4AIwAoAC0AMgA2ADsAQABFAEoATwBUAFkAXgBjAGgAbQByAHcAfACBAIYAiwCQAJUAmgCfAKMAqACtALIAtwC8AMEAxgDLANAA1QDbAOAA5QDrAPAA9gD7AQEBBwENARMBGQEfASUBKwEyATgBPgFFAUwBUgFZAWABZwFuAXUBfAGDAYsBkgGaAaEBqQGxAbkBwQHJAdEB2QHhAekB8gH6AgMCDAIUAh0CJgIvAjgCQQJLAlQCXQJnAnECegKEAo4CmAKiAqwCtgLBAssC1QLgAusC9QMAAwsDFgMhAy0DOANDA08DWgNmA3IDfgOKA5YDogOuA7oDxwPTA+AD7AP5BAYEEwQgBC0EOwRIBFUEYwRxBH4EjASaBKgEtgTEBNME4QTwBP4FDQUcBSsFOgVJBVgFZwV3BYYFlgWmBbUFxQXVBeUF9gYGBhYGJwY3BkgGWQZqBnsGjAadBq8GwAbRBuMG9QcHBxkHKwc9B08HYQd0B4YHmQesB78H0gflB/gICwgfCDIIRghaCG4IggiWCKoIvgjSCOcI+wkQCSUJOglPCWQJeQmPCaQJugnPCeUJ+woRCicKPQpUCmoKgQqYCq4KxQrcCvMLCwsiCzkLUQtpC4ALmAuwC8gL4Qv5DBIMKgxDDFwMdQyODKcMwAzZDPMNDQ0mDUANWg10DY4NqQ3DDd4N+A4TDi4OSQ5kDn8Omw62DtIO7g8JDyUPQQ9eD3oPlg+zD88P7BAJECYQQxBhEH4QmxC5ENcQ9RETETERTxFtEYwRqhHJEegSBxImEkUSZBKEEqMSwxLjEwMTIxNDE2MTgxOkE8UT5RQGFCcUSRRqFIsUrRTOFPAVEhU0FVYVeBWbFb0V4BYDFiYWSRZsFo8WshbWFvoXHRdBF2UXiReuF9IX9xgbGEAYZRiKGK8Y1Rj6GSAZRRlrGZEZtxndGgQaKhpRGncanhrFGuwbFBs7G2MbihuyG9ocAhwqHFIcexyjHMwc9R0eHUcdcB2ZHcMd7B4WHkAeah6UHr4e6R8THz4faR+UH78f6iAVIEEgbCCYIMQg8CEcIUghdSGhIc4h+yInIlUigiKvIt0jCiM4I2YjlCPCI/AkHyRNJHwkqyTaJQklOCVoJZclxyX3JicmVyaHJrcm6CcYJ0kneierJ9woDSg/KHEooijUKQYpOClrKZ0p0CoCKjUqaCqbKs8rAis2K2krnSvRLAUsOSxuLKIs1y0MLUEtdi2rLeEuFi5MLoIuty7uLyQvWi+RL8cv/jA1MGwwpDDbMRIxSjGCMbox8jIqMmMymzLUMw0zRjN/M7gz8TQrNGU0njTYNRM1TTWHNcI1/TY3NnI2rjbpNyQ3YDecN9c4FDhQOIw4yDkFOUI5fzm8Ofk6Njp0OrI67zstO2s7qjvoPCc8ZTykPOM9Ij1hPaE94D4gPmA+oD7gPyE/YT+iP+JAI0BkQKZA50EpQWpBrEHuQjBCckK1QvdDOkN9Q8BEA0RHRIpEzkUSRVVFmkXeRiJGZ0arRvBHNUd7R8BIBUhLSJFI10kdSWNJqUnwSjdKfUrESwxLU0uaS+JMKkxyTLpNAk1KTZNN3E4lTm5Ot08AT0lPk0/dUCdQcVC7UQZRUFGbUeZSMVJ8UsdTE1NfU6pT9lRCVI9U21UoVXVVwlYPVlxWqVb3V0RXklfgWC9YfVjLWRpZaVm4WgdaVlqmWvVbRVuVW+VcNVyGXNZdJ114XcleGl5sXr1fD19hX7NgBWBXYKpg/GFPYaJh9WJJYpxi8GNDY5dj62RAZJRk6WU9ZZJl52Y9ZpJm6Gc9Z5Nn6Wg/aJZo7GlDaZpp8WpIap9q92tPa6dr/2xXbK9tCG1gbbluEm5rbsRvHm94b9FwK3CGcOBxOnGVcfByS3KmcwFzXXO4dBR0cHTMdSh1hXXhdj52m3b4d1Z3s3gReG54zHkqeYl553pGeqV7BHtje8J8IXyBfOF9QX2hfgF+Yn7CfyN/hH/lgEeAqIEKgWuBzYIwgpKC9INXg7qEHYSAhOOFR4Wrhg6GcobXhzuHn4gEiGmIzokziZmJ/opkisqLMIuWi/yMY4zKjTGNmI3/jmaOzo82j56QBpBukNaRP5GokhGSepLjk02TtpQglIqU9JVflcmWNJaflwqXdZfgmEyYuJkkmZCZ/JpomtWbQpuvnByciZz3nWSd0p5Anq6fHZ+Ln/qgaaDYoUehtqImopajBqN2o+akVqTHpTilqaYapoum/adup+CoUqjEqTepqaocqo+rAqt1q+msXKzQrUStuK4trqGvFq+LsACwdbDqsWCx1rJLssKzOLOutCW0nLUTtYq2AbZ5tvC3aLfguFm40blKucK6O7q1uy67p7whvJu9Fb2Pvgq+hL7/v3q/9cBwwOzBZ8Hjwl/C28NYw9TEUcTOxUvFyMZGxsPHQce/yD3IvMk6ybnKOMq3yzbLtsw1zLXNNc21zjbOts83z7jQOdC60TzRvtI/0sHTRNPG1EnUy9VO1dHWVdbY11zX4Nhk2OjZbNnx2nba+9uA3AXcit0Q3ZbeHN6i3ynfr+A24L3hROHM4lPi2+Nj4+vkc+T85YTmDeaW5x/nqegy6LzpRunQ6lvq5etw6/vshu0R7ZzuKO6070DvzPBY8OXxcvH/8ozzGfOn9DT0wvVQ9d72bfb794r4Gfio+Tj5x/pX+uf7d/wH/Jj9Kf26/kv+3P9t//9wYXJhAAAAAAADAAAAAmZmAADypwAADVkAABPQAAAKDnZjZ3QAAAAAAAAAAQABAAAAAAAAAAEAAAABAAAAAAAAAAEAAAABAAAAAAAAAAEAAG5kaW4AAAAAAAAANgAApcAAAFWAAABIwAAAm4AAACbAAAASQAAAUAAAAFRAAAIzMwACMzMAAjMzAAAAAAAAAABzZjMyAAAAAAABDHIAAAX4///zHQAAB7oAAP1y///7nf///aQAAAPZAADAcW1tb2QAAAAAAAAF4wAAI3kAADWR08mHgAAAAAAAAAAAAAAAAAAAAAD/wAARCABsAG0DASIAAhEBAxEB/8QAHwAAAQUBAQEBAQEAAAAAAAAAAAECAwQFBgcICQoL/8QAtRAAAgEDAwIEAwUFBAQAAAF9AQIDAAQRBRIhMUEGE1FhByJxFDKBkaEII0KxwRVS0fAkM2JyggkKFhcYGRolJicoKSo0NTY3ODk6Q0RFRkdISUpTVFVWV1hZWmNkZWZnaGlqc3R1dnd4eXqDhIWGh4iJipKTlJWWl5iZmqKjpKWmp6ipqrKztLW2t7i5usLDxMXGx8jJytLT1NXW19jZ2uHi4+Tl5ufo6erx8vP09fb3+Pn6/8QAHwEAAwEBAQEBAQEBAQAAAAAAAAECAwQFBgcICQoL/8QAtREAAgECBAQDBAcFBAQAAQJ3AAECAxEEBSExBhJBUQdhcRMiMoEIFEKRobHBCSMzUvAVYnLRChYkNOEl8RcYGRomJygpKjU2Nzg5OkNERUZHSElKU1RVVldYWVpjZGVmZ2hpanN0dXZ3eHl6goOEhYaHiImKkpOUlZaXmJmaoqOkpaanqKmqsrO0tba3uLm6wsPExcbHyMnK0tPU1dbX2Nna4uPk5ebn6Onq8vP09fb3+Pn6/9sAQwACAgICAgIDAgIDBQMDAwUGBQUFBQYIBgYGBgYICggICAgICAoKCgoKCgoKDAwMDAwMDg4ODg4PDw8PDw8PDw8P/9sAQwECAgIEBAQHBAQHEAsJCxAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQ/90ABAAH/9oADAMBAAIRAxEAPwD6eiQsMKev4/zqcp5Y2+tNtUSMHdUssgcgg9K/AGzsjJR3Kj5jOV4qDbvfJ5Bq1KVYioFIDccVpcmE0y0rKgPp/WkVy3AGKakYfhTnJzSvGUOTxWbZLFdpM9aQAbstzmjDP905+lSCFiMsaQXA26gGRaZGDJz2pWYrhc5JpylguMd/zqlpuVYSRADgdaq7mj4x161dyPMVSOfWmXvlxpkHLVIpu2xBtJAlPGKfI+/BUZH5VXgnwCrDmpvkbk9fxpcrHp2P/9D6dVlKkHr9aliiJHJxVKInfgjitM8Rg+1fgdjaPvFGSAq/ynrT3jCoA3BNMV2DZI6VMH81gG4xQVYcqbI9w5qJJcv8w+uasTSpGNvXNMija4ZY4UaRpOAqgs2foPWppx5pcsUypJdySdgE3IcfSoYZncYc1sSeHPEVuoe50u5hRhkF4yOPzNc3fXljp43XdzFBjJZXcBgPp1qqtKpHeLXqHtFGPNJoukRiTjn8aJ3RF+XqK4C7+JHhWz+7K122OPLGM1z8/wAVmuIZJtO0rOz/AJ6Pzx7CsvaHnzzLDx2keupvkUOTwKV8OQW5rxW1+Kmr3AjKaZEisCTlzgAdO9amnfE22uxvvNPZFX77RvuA99pwa00Jp5lRl1PVZXjAGBzUkaKVyVzmsnStZ0rXbc3WkTrcRqcHs6HuHHatkEgYHH1qbnpUXGS5os//0fpxw33ozn2q7BhkxIOapJOjLkcEVKsvmEBTX4GdCVtiySiqcjpVQKsgLKalkYhdp5JqncX9npNobu+kEUXPJH3j6LSlLl3JnOKjzT0NPTrG41O5isbRPMnuG2Ip6cdSa+tvAfw303w5ZQyXjG4vLthuaLBddvb2HuOa+dPgPfN4n1bVtTtoxGIligtQ33g8hbc5HbgfSv0C0XSLTRrZURf3mMu5yen1r9J4Ryuk8OsTLVs4vbqovc2I5H8OwKIbgRo2MYf73vk9SffNfGX7THwH8PeMtEn8V+EQF16wUyxJHws6oPnicdMsOVbG4tgE4r2/4j61Fc31qdHXzbmAsWHYhT/hWFrfi+wudHgm04KJ7qPLIONjHufw/I89a93OcLRrUpU6m5EoRqL2bPxN1G+Wx06PUZ2WG4f5WiGSUPdSD0I6cVz9r45dl+zW+/zwNpCMQPrXV/GbTtIT4v8Ai1bByYIZ3kSKM8JJKm9ht6Y3k4/wrnNCsBPbLcBYrZX6BgN5PtmvxyeGjTWp8PUpcs/eIk1SabELJOzscnLEZx9K6aG71RbdJZQBERhVck8iqLQR2TGeeTa0fUscEk9gBx+lXIdYubporP7IcOdquRx7BfVj71ywm5S5YnN7a0uVE/hTx1ceFPFtrqA2Ks00cU8CElWR22cg8Zyc568V96bNjOhOdpIz9K+SIfhLPcTeHzemOCa/voHe2YASrbR5kkkYjkFeBjPVvYV9ZCV5MyFcFiT+dddem6b5WfdcOubpe8f/0vpsW0iNzxUqxjPJ5FPFwJAGYZaszWdas/Dmm3GsX52xRA4B7segFfz9Zl1KkYrmkzG8Ta9ZeHLc3N3ITK3+qiH3mPuPSvnzxF4s1nU5BPfkRyNxFEDlV/D+tcX4k8V3WvalNrWokhWY+WA3KqT93A9BUY1+0EYa1gMrgYVmBbYe/XrXDXcqkrbHwuZ5rKs+U+p/2cPiJF4V8bx6V4hlS2i1uJYo5mJCRTx/cZyeNpBwT61+qT+LEn09ypWKZ1IyxGAMflX8/lvd33iF5LO6vIj9nIdflJJYcmPMWSoIJbkA/J6sK92+GHxc+IWlLDoniWKa50y2A2Szh0mCY+UYbquBwWG4555r9A4ezuWGorDyWnc2yzMXCHJI+7vE2qWttd3Uwn3dHIDck9yCOg9q+Xvib8bNI8I6RezFSrsu+ONcea4X5fk+bnJOCccVf8ceMbXVtE+y6Zb5vbpR5UyN8qMByAg2hs98g+1fLmoeHrm+1W3vdeaS4uoA7Bzkoo27hGkf3Qoxnp82fmzWmZ5tOpPT4e521cyhTd4q5W1L4W/aPtHjnUvEWn6p4g1UwvdaZpEr3P2FNn/LzPjYZeCrxpwrEAHFYWqaRFpNgIlkRp0TrkHkj05xj0ruvEOp3fg/Rv8ARWFoLqHatvGMiOMgbnbb905wAK848K/DXxv42CXEEf8AZ2lxM7SX1zlQ2452op+aVgOy4A7k18tj3PEV1Giv+3f+CfNYqtOpK8Ucfp+j63rFwlnayNcXkrLiNV3nPqwOcD3r6W0rQNN+Gumr4h8YzC71QcLGuDFA54CIo++5PUkH2rN/4STwL8LLGbSvDWbnUCuZJZmHnsW4Bkf/AJZxk/dUYJ6AEc10nw/+Hmvanq8fxC+JilbiL97p+lEELbI3Pn3CH/loc/JGc4HUZr0aOHpYKPNP3pHZluWSqT5Fq+/Rf5neeBdG1YPdeLvE+RqeqgCKFufstn1AbPSSTgt3B4HHFekLIhGM8jqPQ09mEqt5zfO3LE9Sff1qsCkZK8GvHnJ1XzSP0KhTjRXIj//T+nm+biT5cY6e9fLX7QXiC6k1ey8LWT+ZDZxiSRQcbpJfmGcc8Yx+NfVcisyMx5PFfJHxX02PR/igut6pGxg1KKN7Y/wu0IAlQ9htxketfgMqiPOzmTjQ0PKrbwpqdzEst0wiZxgL796u2ujS6YUt47hZrrP3C2FA98cV2GsahqWvXEdrpFkyQxj5pSOAT2BA61zVv4Y1TTJJGNtcXVzJyu5CAA3Q5rj9hU35WfAOTfvI0LqZ9JTbK6CSdcGGIgZz3YjknjjPTjGMV1uieMrx7ktqimYPs4R90hAxjOMEDjpmuRtPAPipmuL2909v3nR5CqIPqea0bHQrXw+5uPFniCws4nPzIjee49F3fKAfYniuinSxblaKMXWnzH0RL8afDGk6PJbjwyl9fJ1kmkO1fTaARtx7fjmvLrLXfEXj+8u00q0CIx3PNCgSCBc7tpkbuvQ4z6c1JZjw3cWM+t6Bol74ngtAd8zp5dhb47vM4ji4/wCuhH1rjx4k+IHju9s/DvgG0tr9Z5RBm0wtlBKy5VDcfu4CcD+Bn54BIr1XTxHw1pa9kXKvNy5U2/JL9T1qx8N+BfA+nf2vrk8ep37sZCZ2Y24A5BxkM/8AwLIPXFeY6t8S/HPxV1Y+GvhrpvmCL5Td7THbwRjjOeABjoAcDsK5n4faFZ+KPFk1p8Qri6nn06WS3ng8zYnmpwMt1256BQMjtX2jbWFlo9kumaZbRWtmmMRQqFTjucdT7nk96dWrWor2VuV9l/mfR4DJK9Vc1V+zXbd/fueTfDL4LaX4Hul1vUpxrniEfP8AaGG6CF8cvAh6yf8ATR8nH3cDivb/ADFYfPg85z79j9aztrSIuwk8gkN0q4YJUf7QTkE85Oefqa4OZ3v1PssNSjSp+zgiR1ULu3ZqJBEASzdaJGbDYGW61RBaTnpSOjlR/9T6j8tVl27sjv71j+JfDGi+MNKk0bXYfPt5hwV+WaNuoaN1II57Z575rVW2dMs4Jb2qWIlP9Ym1T71+BWRpOKmrNHyxL+z74u0F7i78FeK5HVgQIbt3XHoM/NHkevy/QVy1t8L/AI0b2/tDUrufzD+8Nvc20mB/s72QY9MGvtGdDMACBsHSq/lGEBolzn0raniai3b+88irw/h5aqDXzPmez+EE8rxHXbbXNaJI3RTa3Z6dbt/vC2SWX8mzXq+k+ArfQVLeHPDPhnwxcHG27NvceJNQX12zai3lK3qRGRnpxXoEjzLIoIJX0zwKstc+aFjC5xxjtXV/alflstGXQybDwjdq5yNz4J0jVruG/wDGt1eeMLuH7n9sShraLHTybKMRW0eOwCcDjNbWo2sd/YCwsNlmibDbiJViWOVG3RlVTABDA8+nGcVcIkScmIbeuQOOtPiYDJK/MDkE9M1xe3lF817s9Glh4wVoK3ofPnxpsYdN8X+GvjJp0QgtPFkXk6oigAQ6pbnbIT6Fjnnv1617JpF1Nf2yXLNv3DDMTk5HU/jV+fwzB478MeKPhPPGpl1yF9U0iTGWj1K0GWQe0qnoeOOma8f+DviCa50uTS77K3NmzW0ykcrJESvI/wCAkfjX2ma0o4jBxr0/6vv9w6Xu+6e4REbVbgA56+lIyzsjInKHkH0qbz4vIVHUbh39KZ/B97AHTFfD8jN+Yox4Ri+7e3SmvIznK4FQSoYQzR/NnpUlpKkiEsuDmqLP/9X6phdZOC/NIVaRzEzfKvQ1ShOIww4I70GaRJiQc5r8CqHQiyyNGcBs02OXzP3GCMUm4lC560yMnzA+eSMVN2FgdJY3O4jYelMWPLA5zj0qWXoAeeauwnEfQVo6aLsUJ2CkB8jPfvVaRkXCqSfert45WRQACD2NRMo3EdhWXIQUYru+0u7tNY0rI1DT5kubftmRMjb9GUMCDxz9K87+MOnWng34oaZ8QNAcL4Y+Ilul0NmQsN42C8Z9CGr0tlV9jN1GQOcdcf4VL4h0LTvEnwB+I+lakhMXhxl1GwZeHgndQzbWOflJ529B2xX2/CmJ54zoSV0/wMJx1Mq2vUu7RZDxnAPsw61obVRAyvjdzivIfhbql3rOh2VxfMHkls1diOMsrYB+uK9Wg+fdv5wTXzOYYX2NaULmlMt7g67G4I5BrMcFDgYI7VZDEMzdxx+FQZySCOlcfIVzH//Z";
  var url = "http://up.qiniu.com/putb64/-1"; //非华东空间需要根据注意事项 1 修改上传域名
  var xhr = new XMLHttpRequest();
  xhr.onreadystatechange=function(){
    if (xhr.readyState==4){
      document.getElementById("myDiv").innerHTML=xhr.responseText;
    }
  }
  xhr.open("POST", url, true);
  xhr.setRequestHeader("Content-Type", "application/octet-stream");
  xhr.setRequestHeader("Authorization", "UpToken  <%= @uptoken %>");
  xhr.send(pic);
})
</script>
