<div class="bs-docs-container">
  <div class="bs-docs-section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="navbar-action right">
            <%= link_to '上传照片', new_users_event_path , class: 'btn btn-primary'%>
          </div>
          <div class="event-list clear">
            <ul>
              <% @events.each do |p| %>
              <li>
                <div class="img_wrapper">
                  <img src="<%= p.images.first.url %>">
                  <p class="desc img_title"><%= link_to p.title, users_event_path(p), class:'white_link'%> </p>
                  <p class="desc img_count"><%= p.images.count %>张图片<span class="img_time"><%= p.created_at.strftime('%Y-%m-%d') %></span></p>
                  <%= link_to [:users, p], method: :delete, data:{confirm: '确定删除相册?'} do %>
                   <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                  <% end %>
                </div>
              </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style media="screen">
.navbar-action {margin-top:20px}
.event-list li{float: left;width:23%; height:200px;overflow: hidden;margin:1%}
.event-list img{width: 200px;min-height: 200px}
.event-list .img_wrapper{position:relative;}
.event-list .desc{position:absolute;left:5%; color:white; font-weight:200; z-index: 111;}
.event-list .img_title{top:155px;}
.img_count{top:175px;font-size: 13px}
.event-list .img_wrapper .img_time{margin-left:10px;font-size: 13px}
.glyphicon-trash {position: absolute; left:72%; top:5px;font-size:20px; display: none;}
.img_wrapper:hover .glyphicon-trash{display: block}
.glyphicon-trash:hover{cursor: pointer}
</style>
