<%= form_for @photo do |f| %>

  <p>
    <%= f.label :title %><br>
    <%= f.file_field :title %>
  </p>

  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :brief_intro %><br>
    <%= f.text_area :brief_intro %>
  </p>

  <p>
    <%= f.label :place %><br>
    <%= f.text_area :place %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>
