<!DOCTYPE html>
<html>
  <head>
    <title>DewSet</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>" style="background: #f5bc81; color:white ">
      <%= value %>
      <button type="button" class="close" data-dismiss="alert"> &times; </button>
    </div>
    <% end %>
    <header>
      <%= render 'layouts/header' %>
    </header>
    <%= yield %>
  </body>
  </html>
